
.image{
    text-align: center;
}
.image h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    width: 50%;
    border-radius: 5px;
    background-color: rgb(187, 185, 185);
}
.image .card img{
    width: 100%;
}
.card h3{
    color: black;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width:813px){
    .card h3{
        font-size: 16px;
    }
    .card{
        width: 70%;
    }
}
@media only screen and (max-width:670px){
    .card h3{
        font-size: 16px;
    }
    .card{
        width: 90%;
    }
}